body {
	background-color: lightsteelblue;
	background-image: url(../images/douglas_logo.jpg);
	background-repeat: repeat-x;
	width: 80%;
	min-height: 500px;
	margin: 0 auto;
	padding: 0 30px 10px;
	padding-top: 25px;
	border: 1px solid black;	
	box-sizing: border-box;	
}

.container {
	text-align: center;
}

.container h1 {
	font-size: 35px;
	text-shadow: 3px 3px whitesmoke;
}

.container > nav {
	padding: 1rem 0;
}	

.tools {	
	width: 65vw;
	height: 50vh;
	text-align: center;
}

.main, 
.main p {
	padding: 1rem 0;
}

.map_title, 
.map p, 
.benefits_title {
	text-align: center;
	padding-top: .5rem;
}

.map_title, 
.benefits_title {
	font-size: 25px;
}

.map_content, 
.benefits_content {
	padding: 1rem 0;
} 

.itens::before {
	content: "★";
	line-height: 1.5;
}

footer {
	text-align: center;
	padding: 3rem 0;
}

@media screen and (min-width: 660px){
	.tools {
		;
	}
}




/* 
#banner{

	width: 100%;

}

.principal {
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {

	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
}


p {

	text-align: center;
	
}

#missao{

	font-size: 20px;

}

em strong {

	color: rgb(3, 50, 100);

}

.itens {

	font-style: italic;
}


.beneficios {

	background: #FFFFFF;
	padding: 20px;
}



ul {

	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}


.imagembeneficios {

	width: 50%;
} */




	






